@import url('https://fonts.googleapis.com/css?family=Lato');

/* --- General --- */

body {
  font-family: 'Lato', 'Times New Roman', serif;
  font-size: 2.5vw;
  color: #d3d3d3;
  background-color: #1D253C;
}

.col-lg-8 .col-lg-offset-2 .col-md-10 .col-md-offset-1 {
  min-width: 100vw; 
  min-height: 60vh;
  margin: 0;
}

.col-lg-8 {
  min-width: 100vw; 
  min-height: 60vh;
  margin: 0;
}

.col-lg-offset-2 .col-md-10 .col-md-offset-1 {
  min-width: 100vw; 
  min-height: 60vh;
  margin: 0;
}

.col-md-10 .col-md-offset-1 {
  min-width: 100vw; 
  min-height: 60vh;
  margin: 0;
}

.container {
  min-width: 100vw; 
  min-height: 60vh;
}

.home_image {
  position: relavtive; 
  top: 10%; 
  left: 0; 
  bottom: 0; 
  width: 33.33%; 
  height: 100%; 
  background-repeat: no-repeat;    
  background-position: 50%;    
  background-size: cover; 
  float: left
}

.home_text_wrap {
  position: absolute;  
  width: 60%;    
  top: 10%;    
  right: 0; 
  text-align: center;    
  margin-right: 20px;
}

.home_text_wrap {
  margin: 0; 
  line-height: 1.15;    
  color: #d3d3d3; 
  text-align: left;
}
