---
layout: null
---

@import url("pygment_highlights.css");
@import url('https://fonts.googleapis.com/css?family=Lato');

/* --- General --- */

body {
  font-family: 'Lato', 'Times New Roman', serif;
  font-size: 18px;
  color: #808080;
  position: relative;
  background-color: #1D253C;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
