# --- General options --- #

# url is the full website URL
# baseurl is the website's URL without the hostname
url: "https://Alek-Zywot.github.io"
baseurl: ""

# Name of website
title: Aleksander Zywot, MD

# Short description of your site
description: Healthcare Researcher | Physician | Data Scientist

# --- Navigation bar options --- #

# List of links in the navigation bar
navbar-links:
#  Home: "index"
  Meet Alek: "aboutme"
  
  Research: "research"
  Projects: "project"
  
# Image to show in the navigation bar - image must be a square (width = height)
avatar: "/img/red-megaman.png"

# To have an image logo in the top-left corner instead of the title text:
# title-img: /path/to/image

# --- Background colour/image options --- #

# Personalize the colors in your website. Colour values can be any valid CSS colour
navbar-col: "#1D253C"
navbar-text-col: "#a9a9a9"
navbar-children-col: "#1D253C"
page-col: "#FFFFFF"
link-col: "#696969"
hover-col: "#F2BA42"
footer-col: "#1D253C"
footer-text-col: "#a9a9a9"
footer-link-col: "#696969"

# Alternatively, the navbar, footer, and page background can be set to use background images
# instead of colour

# navbar-img: "/img/bgimage.png"
# footer-img: "/img/bgimage.png"
# page-img: "/img/bgimage.png"

# --- Footer options --- #

# Important: you must keep the "name" parameter, everything else you can remove
author:
  name: Aleksander Zywot

# Select your active Social Network Links.
# You can reorder the items to define the link order.
# If you want to add a new link that isn't here, you'll need to also edit the file _data/SocialNetworks.yml
social-network-links:
#  rss: false
  email: "Alek@Alek-Zywot.com"
  github: Alek-Zywot
  twitter: Alek_Zywot
#  reddit: yourname
  linkedin: Zywot
  stackoverflow: "Alek-Zywot"

# Select which share links to show in posts
share-links-active:
 twitter: true
 linkedin: true

# How to display the link to the website in the footer
url-pretty: "Alek-Zywot.com"  

# --- Web Statistics Section --- #

# Fill in your Google Analytics gtag.js ID to track your website using gtag
gtag: "UA-137552986-2"

# Fill in your Google Analytics ID to track your website using GA
google_analytics: "UA-137552986-2"

# Google Tag Manager ID
#gtm: ""

# --- Comments --- #

# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
# disqus: ""
# If you want to use just-comments fill with the API Key
#just-comments: "ABCD-EFGH-IJKL"

# Staticman support
staticman:
  repository : # GitHub username/repository eg. "daattali/beautiful-jekyll"
  branch     : # eg. "master" If you're not using `master` branch, then you also need to update the `branch` parameter in `staticman.yml`
  endpoint   : # URL of your own deployment (with trailing slash) (will fallback to a public GitLab instance)
  reCaptcha:
    # reCaptcha for Staticman (OPTIONAL)
    # If you use reCaptcha, you must also set these parameters in staticman.yml
    siteKey  : # Use your own site key, you need to apply for one on Google
    secret   : # ENCRYPT your password by going to https://staticman3.herokuapp.com/v3/encrypt/<your-site-secret>

# --- Misc --- #

# Excerpt Word Length
# Truncates the excerpt to the specified number of words on the index page
excerpt_length: 50

# Character used to separate site title and description in HTML document title
# and RSS feed title
title-separator: "-"

# --- Don't need to touch anything below here (but you can if you want) --- #

# Output options (more information on Jekyll's site)
timezone: "America/Vancouver"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true

# Use tags index page and make tags on each post clickable
link-tags: true

# Include these files in the production site
include: ['_pages']

# Exclude these files from production site
exclude:
  - CHANGELOG.md
  - CNAME
  - Dockerfile
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - Vagrantfile

# prose.io config
prose:
  rooturl: '_posts'
  media: 'img'
  ignore:
    - 404.html
    - LICENSE
    - feed.xml
    - _config.yml
    - /_layouts
    - /_includes
    - /css
    - /img
    - /js
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "hidden"
          value: "post"
      - name: "title"
        field:
          element: "text"
          label: "Post title"
          placeholder: "Title"
          alterable: true
      - name: "subtitle"
        field:
          element: "textarea"
          label: "Subtitle"
          placeholder: "A description of your post."
          alterable: true
      - name: "date"
        field:
          element: "text"
          label: "Date"
          help: "Enter date of post."
          placeholder: "yyyy-mm-dd"
          alterable: true
      - name: "image"
        field:
          element: "text"
          label: "Image"
          help: "Add a thumbnail image to your post."
          placeholder: "Thumbnail"
          alterable: true
      - name: "published"
        field:
          element: "checkbox"
          label: "Publish"
          help: "Check to publish post, uncheck to hide."

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-seo-tag
